.App {
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: space-around;
}

/* .card {
  margin: 0 auto;
  background: linear-gradient(to bottom, red, pink);
  width: 200px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
} */
/* .location {
  text-align: center;
}
.city {
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;
}
.country {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.1rem;

}
.temp {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  font-weight: 200;
}
.condition {
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
} */

/* font-family: 'Fira Sans', sans-serif;
font-family: 'Merriweather', serif; */